coverage==6.2
django-axes==5.31.0
django-constance[database]==2.8.0
django-crispy-forms==1.13.0
django-filter==21.1
django-nose==1.4.7
django-webpack-loader==1.4.1
django-reversion==4.0.1
Django==3.2.11
djangorestframework==3.13.1
passlib==1.7.4
Pillow==9.0.0
prospector==1.6.0
psycopg2-binary==2.9.3
recommonmark==0.7.1
requests_mock==1.9.3
requests==2.27.1
sphinx-rtd-theme==1.0.0
sphinx==4.4.0
sqlalchemy==1.4.29
uWSGI==2.0.20
