coverage==6.1.1
django-axes==5.26.0
django-constance[database]==2.8.0
django-crispy-forms==1.13.0
django-filter==2.4.0
django-nose==1.4.7
django-webpack-loader==1.4.1
django-reversion==4.0.0
Django==3.2.9
djangorestframework==3.12.4
passlib==1.7.4
Pillow==8.4.0
prospector==1.5.1
psycopg2-binary==2.9.1
recommonmark==0.7.1
requests_mock==1.9.3
requests==2.26.0
sphinx-rtd-theme==1.0.0
sphinx==4.2.0
sqlalchemy==1.4.26
uWSGI==2.0.20
